<% title "Problems" %>

<% for judge in @judges %>
<% if @problems_by_judge[judge].size > 0 -%>
<div class="list_element">
  <h2> <%= link_to judge.name, judge %> </h2>

  <%= render :partial => "problem", :collection => @problems_by_judge[judge] %>

</div>
<% end -%>
<% end -%>
