body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

*{
  outline: none;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

h1, h1 a {
  color: #732F1A;
  font-size: 22px;
}

h3, h3 a {
  color: #E98C08;
  font-size: 18px;
}

h2, h2 a {
  color: #732F1A;
  font-size: 20px;
}

h4, h4 a {
  color: #732F1A;
}

ul {
  list-style-image: url(/images/icons/bullet_orange.png);
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}



.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#main{
  padding: 20px 40px;
  margin: 0 auto;
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin-bottom: 10px;
}

#container {
  border: none;
}

#header {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  min-height:10px;
  clear: both;
  text-align: center;
  margin-bottom: 10px;
}

#footer {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  min-height:10px;
  clear: both;
  text-align: center;
}

#wrap {
  margin: 0 auto;
  width: 800px;
}

.hidden {
 display: none;
}


.list_element {
  border: dashed 1px #AAA;
  padding: 10px;
  margin-top: 10px;
}

.actions{
  padding: 8px;
  margin-top: 0px;
}

.actions a{
  color: #003333;
}

.bottom_link{
  margin-top: 10px;
  padding: 8px 8px 8px 8px;
}

.left-align{
  text-align: left;
  float: left;
}

.float-right{
  float: right;
  margin-bottom: 10px;
}

.centered_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#userForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}