AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi
Options +FollowSymLinks +ExecCGI

RewriteEngine On

# All address will be forwarded to the dispatcher unless otherwise
# specified here. If you want a file to not be served by Rails but
# by Apache itself, add a rule like follows:
# RewriteCond %{REQUEST_URI} ^/notrails.*
# RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} ^/stylesheets.*
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} ^/javascripts.*
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} ^/images.*
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} ^/favicon.*
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} ^/uploads.*
RewriteRule .* - [L]

# RewriteRule ^$ index.html [QSA]
# RewriteRule ^([^.]+)$ $1.html [QSA]

# If the request is not a real file on the server...
RewriteCond %{REQUEST_FILENAME} !-f

# Then send it to Rails dispatcher
RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]
andmej@factorcomun.org [~]#

