<% title @user.name %>

<div class="actions">
  <%= link_to image_tag("icons/arrow_left.png", :alt => "Back to all users"), users_path %>
  <% if logged_in? -%>
  <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_user_path(@user) if current_user.authorized?(@user) %>
  <%= link_to image_tag("icons/cross.png", :alt =>"Delete"), @user, :confirm => 'Are you sure?', :method => :delete  if current_user.authorized?(@user) %>
  <% end -%>
</div>


<div class="list_element">
<h3>Solved problems</h3>

<p>
  <%= h "This user has solved #{@user.solved_problems.size} problems." %>
</p>

</div>
