<% title "Stats" %>

<div class="list_element">
  <h3>
    Percentage of solutions by each user
  </h3>
  
  <%= image_tag(pie_chart_for_solutions, :alt => "Distribution of solutions by user") %>
</div>
